In [156]:
import pandas as pd
import numpy as np

#Product and Capacity

In [157]:
df_prod1=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Products_and_Capacity.txt',sep="|")
df_prod1.head()

,Company,Company Code,Project Name,Project Number,Product,Product Code,New Capacity,Expansion From,Expansion To,Capacity Units
0,3 Com Corpn. Inc.,36,Call Centre Project,1,Call centre,80320808040000000000,NaN,NaN,NaN,NaN
1,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,"Polyethylene, Polystyrene, Polypropylene",50560800000000000000,10000.0,NaN,NaN,Tonnes
2,3m India Ltd.,36277,Bangalore R&D Centre Project,6,R&D centre,74121815000000000000,NaN,NaN,NaN,NaN
3,3m India Ltd.,36277,Industrial & Consumer Product Project,1,Consumer & office equipments,63120832990000000000,NaN,NaN,NaN,NaN
4,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,Corrosion Protection Products,50560428080000000000,NaN,NaN,NaN,NaN

In [158]:
df_prod1.shape

(8175, 10)

In [159]:
df_prod1['Expansion From'].unique()

array([         nan, 7.500000e+01, 1.000000e+00, 2.200000e+00,
       6.000000e-01, 5.300000e-01, 7.000000e-01, 2.500000e+00,
       3.000000e+00, 6.590000e+02, 0.000000e+00, 3.400000e+01,
       4.400000e+01, 2.400000e+01, 3.500000e+01, 2.000000e+00,
       3.100000e+01, 3.900000e+01, 2.101000e+03, 2.300000e+01,
       1.900000e+01, 2.200000e+01, 1.140000e+03, 2.600000e+01,
       2.500000e+01, 8.260000e+02, 2.000000e+01, 1.400000e+01,
       1.800000e+01, 1.696000e+03, 2.800000e+01, 3.600000e+01,
       4.200000e+01, 4.500000e+01, 7.750000e+02, 1.300000e+01,
       1.600000e+01, 1.204000e+03, 2.900000e+02, 1.700000e+01,
       7.850000e+02, 5.500000e-01, 3.000000e+01, 4.220000e+01,
       5.080000e+06, 3.500000e+03, 2.100000e+01, 1.100000e+01,
       1.000000e+01, 9.000000e+00, 1.200000e+01, 5.110000e+02,
       5.100000e+02, 5.120000e+02, 5.130000e+02, 2.400000e+02,
       1.830000e+01, 6.000000e+02, 1.510000e+04, 3.850000e+04,
       1.200000e+02, 1.000000e+02, 7.000000e+02, 5.000000e+04,
       5.000000e+00, 2.900000e+01, 4.100000e+01, 7.000000e+01,
       1.150000e+00, 1.700000e+00, 1.600000e+00, 1.500000e+00,
       6.200000e+01, 3.300000e+01, 4.000000e+00, 6.000000e+00,
       4.960000e+01, 5.500000e+00, 1.070000e+01, 2.200000e+03,
       3.400000e+02, 4.600000e+02, 1.560000e+04, 1.800000e+04,
       1.163000e+03, 9.600000e+03, 2.040000e+03, 4.600000e+03,
       8.000000e+03, 8.400000e+01, 8.500000e+01, 1.010000e+02,
       7.300000e+03, 4.500000e+00, 3.300000e+00, 1.320000e+03,
       8.000000e+00, 3.500000e+00, 2.500000e+03, 7.700000e+01,
       5.000000e+01, 3.750000e+01, 2.750000e+01, 6.100000e+00,
       4.800000e+03, 8.000000e+01, 5.500000e+01, 8.500000e+00,
       3.580000e+00, 6.000000e+01, 2.000000e+02, 4.000000e+02,
       3.000000e+03, 5.400000e+00, 2.500000e+02, 9.500000e+01,
       1.450000e+02, 4.200000e-01, 1.200000e+00, 2.469600e+04,
       1.566000e+04, 8.000000e+04, 6.000000e+04, 1.254000e+03,
       6.050000e+02, 3.000000e+02, 3.500000e+02, 1.500000e+02,
       2.280000e+02, 4.190000e+02, 5.000000e+02, 1.670000e+02,
       2.340000e+02, 3.230000e+02, 4.480000e+02, 5.660000e+02,
       2.700000e+02, 3.530000e+02, 2.210000e+02, 2.850000e+02,
       3.920000e+02, 4.760000e+02, 1.293000e+03, 1.375000e+03,
       1.400000e+03, 1.265000e+03, 1.358000e+03, 1.268000e+03,
       1.151000e+03, 1.166000e+03, 1.148000e+03, 1.114000e+03,
       1.157000e+03, 1.167000e+03, 1.311000e+03, 1.248000e+03,
       1.250000e+03, 1.350000e+03, 1.267000e+03, 4.800000e+01,
       6.660000e+02, 7.790000e+02, 7.910000e+02, 4.800000e+02,
       4.250000e+02, 6.680000e+02, 7.699992e+04, 2.100000e+03,
       1.500000e+05, 1.400000e+00, 1.400000e+02, 3.000000e+05,
       5.940000e+05, 5.100000e+01, 2.000000e+03, 9.900000e+03,
       5.610000e+03, 5.940000e+03, 1.980000e+03, 3.036000e+03,
       4.000000e+03, 1.000000e+03, 6.600000e-01, 5.346000e+03,
       4.020000e+02, 4.010000e+02, 4.030000e+02, 4.040000e+02,
       4.990000e+02, 4.050000e+02, 1.640000e+02, 1.630000e+02,
       2.570000e+02, 1.650000e+02, 1.620000e+02, 1.660000e+02,
       2.970000e+03, 1.080000e+02, 2.560000e+02, 2.580000e+02,
       2.540000e+02, 2.550000e+02, 2.590000e+02, 2.530000e+02,
       2.510000e+02, 4.500000e+03, 2.640000e+02, 6.500000e+01,
       4.600000e+01, 1.800000e+03, 3.530000e+00, 1.970000e+01,
       2.757000e+04, 2.200000e+05, 2.520000e+03, 1.250000e+02,
       7.200000e+01, 1.152000e+01, 3.500000e-01, 9.000000e-01,
       1.430000e+01, 6.800000e+02, 6.500000e+02, 6.700000e+02,
       1.800000e+00, 7.000000e+00, 1.500000e+03, 7.500000e+03,
       4.269600e+04, 8.000000e+02, 1.092740e+05, 1.500000e+01,
       1.200000e+03, 1.860000e+03, 4.400000e+02, 3.720000e+00,
       9.900000e+04, 1.090000e+02, 1.160000e+02, 1.040000e+02,
       9.000000e+01, 2.000000e+05, 1.300000e+05, 1.350000e+02,
       1.590000e+02, 1.850000e+02, 1.249990e+03, 4.900000e-01,
       2.460000e+00, 4.500000e+02, 1.250000e+00, 2.790000e+02,
       2.770000e+02, 2.730000e+02, 2.720000e+02, 2.780000e+02,
       1.600000e+02, 1.120000e+06, 3.400000e+00, 7.200000e+02,
       2.080000e+02, 5.680000e+02, 3.700000e+01, 4.000000e-01,
       4.000000e+01, 1.400000e-01, 1.250000e+01, 8.500000e+02,
       2.700000e-01, 7.500000e+04, 4.900000e+01, 4.700000e+01,
       5.200000e+01, 5.600000e+01, 5.300000e+01, 3.200000e+01,
       5.000000e-01, 2.700000e+01, 8.000000e-01, 2.700000e+00,
       6.720000e+00, 3.048000e+01, 9.500000e+02, 1.530000e+00,
       1.220000e+00, 6.000000e-02, 3.350000e+01, 3.000000e-02,
       1.139840e+05, 1.000000e+05, 4.900000e+00, 1.250000e+06,
       1.550000e+06, 1.690000e+02, 1.950000e+02, 1.150000e+02,
       1.950000e+03, 9.000000e+05, 2.700000e+03, 3.527208e+05,
       6.900000e+01, 5.400000e+02, 7.500000e+02, 7.700000e+02,
       8.200000e+02, 8.240000e+02, 1.300000e+02, 6.250000e+01,
       4.350000e+02, 6.400000e+01, 2.200000e+02, 2.800000e+02,
       1.350000e+01, 8.600000e+01, 5.700000e+01, 4.380000e+01,
       6.480000e+01, 6.100000e+02, 6.720000e+02, 2.534000e+01,
       2.112000e+04, 6.700000e+01, 2.400000e+03, 1.580000e+02,
       1.800000e+02, 1.650000e+01, 5.000000e+03, 6.000000e+03,
       2.000000e+06, 1.000000e+06, 2.250000e+01, 8.496000e+03,
       1.860000e+02, 4.920000e+01, 1.194000e+04, 2.388000e+03,
       1.800000e+06, 3.710000e+00, 7.500000e-01, 7.000000e-02,
       1.520000e+05, 5.913050e+05, 7.800000e+01, 7.100000e+01,
       7.300000e+01, 8.100000e+01, 8.200000e+01, 8.900000e+01,
       3.800000e+01, 4.300000e+01, 1.900000e+02, 2.010000e+02,
       4.132000e+02, 7.600000e+01, 1.100000e+02, 5.170000e+02,
       6.600000e+01, 5.400000e+01, 5.900000e+01, 9.700000e+01,
       9.300000e+01, 9.800000e+01, 8.300000e+01, 9.100000e+01,
       2.490000e+02, 5.500000e+02, 9.900000e+01, 3.800000e+02,
       3.630000e+02, 3.290000e+02, 3.810000e+02, 3.770000e+02,
       3.750000e+02, 3.640000e+02, 3.160000e+02, 2.990000e+02,
       3.190000e+02, 3.300000e+02, 2.890000e+02, 1.970000e+02,
       3.600000e+02, 1.270000e+02, 3.598000e+03, 3.584000e+03,
       3.570000e+03, 3.564000e+03, 3.612000e+03, 3.603000e+03,
       3.625000e+03, 3.635000e+03, 1.331000e+03, 1.260000e+03,
       3.532000e+03, 3.526000e+03, 2.312000e+03, 2.625000e+03,
       1.009000e+03, 1.820000e+03, 1.421000e+03, 1.370000e+03,
       9.330000e+02, 8.600000e+02, 1.670000e+03, 8.280000e+02,
       9.680000e+02, 1.650000e+03, 1.100000e+03, 1.101000e+03,
       2.310000e+02, 2.320000e+02, 2.050000e+02, 2.350000e+02,
       2.710000e+02, 1.920000e+02, 3.700000e+02, 5.800000e+01,
       1.000000e+04, 7.400000e+01, 6.800000e+01, 1.550000e+02,
       1.540000e+02, 1.050000e+02, 2.300000e+02, 1.560000e+02,
       1.060000e+02, 1.020000e+02, 2.750000e+02, 3.250000e+02,
       2.400000e+00, 9.000000e-02, 4.275000e+03, 6.635000e+03,
       6.619000e+03, 6.604000e+03, 6.640000e+03, 6.510000e+03,
       6.355000e+03, 6.385000e+03, 6.100000e+03, 6.080000e+03,
       6.568000e+03, 6.250000e+03, 6.200000e+03, 6.152000e+03,
       5.822000e+03, 5.756000e+03, 2.470000e+03, 5.900000e+03,
       5.525000e+03, 5.720000e+03, 2.225000e+03, 5.128000e+03,
       4.833000e+03, 3.980000e+03, 5.500000e+03, 2.823000e+03,
       5.033000e+03, 3.499000e+03, 4.756000e+03, 4.473000e+03,
       3.000000e-01, 1.050000e+01, 2.000000e+04, 4.960000e+03,
       6.725700e+02, 4.404000e+02, 3.750000e+00, 4.560000e+02,
       1.700000e+04, 1.700000e+02, 6.810000e+02, 7.800000e+02,
       6.300000e+01, 5.875000e+03, 1.058000e+03, 7.285600e+02,
       1.900000e+00, 3.500000e+04, 6.350000e+00, 2.100000e-01,
       3.300000e+04, 1.300000e+00, 2.037100e+02, 7.500000e+00,
       3.600000e+00, 1.100000e+00, 5.600000e-01, 1.200000e+05,
       2.550000e+01, 1.500000e+04, 2.136000e+01, 1.160000e+01,
       5.150000e+00, 4.800000e+00, 9.600000e+00, 4.570000e+02,
       1.440000e+02, 1.212000e+03, 5.280000e+01, 1.980000e+01,
       3.000000e+04, 3.220000e+02, 2.045000e+03, 1.430000e+03,
       1.070000e+02, 4.800000e-01, 3.200000e+00, 1.112000e+01,
       7.000000e+06, 2.600000e-01, 8.177780e+05, 1.450000e+00,
       4.220000e+02, 4.470000e+02, 6.220000e+02])

In [160]:
df_prod1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         8175 non-null   object
 1   Company Code    8175 non-null   int64
 2   Project Name    8175 non-null   object
 3   Project Number  8175 non-null   int64
 4   Product         8175 non-null   object
 5   Product Code    8175 non-null   object
 6   New Capacity    4753 non-null   float64
 7   Expansion From  1368 non-null   float64
 8   Expansion To    1371 non-null   float64
 9   Capacity Units  4753 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 638.8+ KB

In [161]:
print(df_prod1.shape)
for col in df_prod1.columns:
    print(f"\nColumn: {col}") 
    print(f"Total unique values: {df_prod1[col].nunique()}")

(8175, 10)

Column: Company
Total unique values: 2112

Column: Company Code
Total unique values: 2112

Column: Project Name
Total unique values: 5082

Column: Project Number
Total unique values: 159

Column: Product
Total unique values: 4156

Column: Product Code
Total unique values: 1006

Column: New Capacity
Total unique values: 908

Column: Expansion From
Total unique values: 514

Column: Expansion To
Total unique values: 541

Column: Capacity Units
Total unique values: 130

In [162]:
df_prod1.columns = (
    df_prod1.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
)
df_prod1.head()

,company,company_code,project_name,project_number,product,product_code,new_capacity,expansion_from,expansion_to,capacity_units
0,3 Com Corpn. Inc.,36,Call Centre Project,1,Call centre,80320808040000000000,NaN,NaN,NaN,NaN
1,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,"Polyethylene, Polystyrene, Polypropylene",50560800000000000000,10000.0,NaN,NaN,Tonnes
2,3m India Ltd.,36277,Bangalore R&D Centre Project,6,R&D centre,74121815000000000000,NaN,NaN,NaN,NaN
3,3m India Ltd.,36277,Industrial & Consumer Product Project,1,Consumer & office equipments,63120832990000000000,NaN,NaN,NaN,NaN
4,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,Corrosion Protection Products,50560428080000000000,NaN,NaN,NaN,NaN

In [163]:
df_prod1.isnull().sum()

company              0
company_code         0
project_name         0
project_number       0
product              0
product_code         0
new_capacity      3422
expansion_from    6807
expansion_to      6804
capacity_units    3422
dtype: int64

In [164]:
df_prod1.isnull().sum() / len(df_prod1) * 100

company            0.000000
company_code       0.000000
project_name       0.000000
project_number     0.000000
product            0.000000
product_code       0.000000
new_capacity      41.859327
expansion_from    83.266055
expansion_to      83.229358
capacity_units    41.859327
dtype: float64

In [165]:
# Fill missing values in 'new_capacity' based on mean of each 'capacity_units' group
df_prod1['new_capacity'] = df_prod1.groupby('capacity_units')['new_capacity'].transform(
    lambda x: x.fillna(x.mean())
)

In [166]:
len(df_prod1['capacity_units'].unique())

131

In [167]:
# Step 1: Check how many unique capacity units exist
print("Unique capacity units:", df_prod1['capacity_units'].nunique())

# Step 2: Compute mean 'new_capacity' for each 'capacity_units'
capacity_means = df_prod1.groupby('capacity_units')['new_capacity'].mean()

# Step 3: Display the computed means (optional)
print("\nMean new_capacity for each capacity unit:")
print(capacity_means)

# Step 4: Impute missing 'new_capacity' based on corresponding capacity unit mean
df_prod1['new_capacity'] = df_prod1.apply(
    lambda row: capacity_means[row['capacity_units']]
    if pd.isna(row['new_capacity']) and row['capacity_units'] in capacity_means
    else row['new_capacity'],
    axis=1
)

# Step 5: Verify missing values after imputation
print("\nMissing values in 'new_capacity' after imputation:",
      df_prod1['new_capacity'].isna().sum())

Unique capacity units: 130

Mean new_capacity for each capacity unit:
capacity_units
'000 Dwt                34.250000
'000 TEUs              180.191176
'000 barrels/day        61.666667
'000 cans           150000.000000
'000 cases/day          20.000000
                        ...
Tonnes/day             796.151515
Tonnes/hour            137.800000
Tonnes/month         41817.000000
Units                32657.950000
Villas                  51.187500
Name: new_capacity, Length: 130, dtype: float64

Missing values in 'new_capacity' after imputation: 3422

In [168]:
# Count of rows where both new_capacity and capacity_units are missing
both_null_count = df_prod1[df_prod1['new_capacity'].isna() & df_prod1['capacity_units'].isna()].shape[0]

print("Number of rows where both 'new_capacity' and 'capacity_units' are null:", both_null_count)

Number of rows where both 'new_capacity' and 'capacity_units' are null: 3422

In [169]:
# Drop rows where 'new_capacity' is null
df_prod1 = df_prod1.dropna(subset=['new_capacity'])

# Verify the result
print("Remaining rows after dropping null 'new_capacity':", df_prod1.shape[0])
print("Missing values in 'new_capacity' after dropping:", df_prod1['new_capacity'].isna().sum())

Remaining rows after dropping null 'new_capacity': 4753
Missing values in 'new_capacity' after dropping: 0

In [170]:
df_prod1.isnull().sum()

company              0
company_code         0
project_name         0
project_number       0
product              0
product_code         0
new_capacity         0
expansion_from    3389
expansion_to      3388
capacity_units       0
dtype: int64

In [171]:
df_prod1['is_expansion_project'] = df_prod1['expansion_from'].apply(lambda x: 0 if pd.isna(x) else 1)
df_prod1.head()

,company,company_code,project_name,project_number,product,product_code,new_capacity,expansion_from,expansion_to,capacity_units,is_expansion_project
1,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,"Polyethylene, Polystyrene, Polypropylene",50560800000000000000,10000.00,NaN,NaN,Tonnes,0
9,4pel Green Solutions Pvt. Ltd.,646770,Vilayat Wind-Solar Hybrid Captive Power Project,1,Electricity Unit Phase 1 (Hybrid),78120000000000000000,17.60,NaN,NaN,Mw,0
10,4pel Green Solutions Pvt. Ltd.,646770,Vilayat Wind-Solar Hybrid Captive Power Project,1,Electricity Unit Phase 2 (Hybrid),78120000000000000000,16.68,NaN,NaN,Mw,0
11,A A M India Mfg. Corpn. Pvt. Ltd.,424736,"Ahmednagar Drives Axles, Parts & Components Pl...",1,Drives Axles,66201244000000000000,510400.00,NaN,NaN,Numbers,0
25,A B B India Ltd.,21420,Fans & Blowers Project,6,Industrial Fans & Blowers,63083604080800000000,220.00,NaN,NaN,Numbers,0

In [172]:
df_prod1['expansion_from'] = df_prod1['expansion_from'].fillna(0)
df_prod1['expansion_to'] = df_prod1['expansion_to'].fillna(0)
df_prod1['is_expansion_project'] = df_prod1['expansion_from'].apply(lambda x: 0 if pd.isna(x) else 1)
print(df_prod1[['expansion_from', 'expansion_to']].isna().sum())

expansion_from    0
expansion_to      0
dtype: int64

In [173]:
df_prod1.isnull().sum()

company                 0
company_code            0
project_name            0
project_number          0
product                 0
product_code            0
new_capacity            0
expansion_from          0
expansion_to            0
capacity_units          0
is_expansion_project    0
dtype: int64

In [174]:
df_prod1.duplicated().sum()

np.int64(0)

In [175]:
# Display duplicate rows
df_prod1[df_prod1.duplicated()]

Empty DataFrame
Columns: [company, company_code, project_name, project_number, product, product_code, new_capacity, expansion_from, expansion_to, capacity_units, is_expansion_project]
Index: []

In [176]:
# Convert to numeric, non-numeric values become NaN
numeric_series = pd.to_numeric(df_prod1['product_code'], errors='coerce')

# Numeric values (integers/floats)
numeric_values = df_prod1.loc[numeric_series.notna(), 'product_code'].unique()
print("Numeric values:", numeric_values[:10])  # show first 10

# Non-numeric values
non_numeric_values = df_prod1.loc[numeric_series.isna(), 'product_code'].unique()
print("Non-numeric values:", non_numeric_values[:10])  # show first 10

Numeric values: ['50560800000000000000' '78120000000000000000' '66201244000000000000'
 '63083604080800000000' '63080412320000000000' '63120824240000000000'
 '78120612000000000000' '63080404160812000000' '63040416000000000000'
 '33560800000000000000']
Non-numeric values: []

In [177]:
df_prod1['product_code'] = df_prod1['product_code'].apply(int)

In [178]:
df_prod1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4753 entries, 1 to 8174
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company               4753 non-null   object
 1   company_code          4753 non-null   int64
 2   project_name          4753 non-null   object
 3   project_number        4753 non-null   int64
 4   product               4753 non-null   object
 5   product_code          4753 non-null   object
 6   new_capacity          4753 non-null   float64
 7   expansion_from        4753 non-null   float64
 8   expansion_to          4753 non-null   float64
 9   capacity_units        4753 non-null   object
 10  is_expansion_project  4753 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 445.6+ KB

In [179]:
df = df_prod1.copy()

In [180]:
duplicate_company_count = df['company'].duplicated().sum()
print("Duplicate entries in 'company':", duplicate_company_count)

Duplicate entries in 'company': 3494

In [181]:
duplicate_project_name_count = df['project_name'].duplicated().sum()
print("Duplicate entries in 'project_name':", duplicate_project_name_count)

Duplicate entries in 'project_name': 1804

In [182]:
duplicate_project_number_count = df['project_number'].duplicated().sum()
print("Duplicate entries in 'project_number':", duplicate_project_number_count)

Duplicate entries in 'project_number': 4606

In [183]:
import pandas as pd

# Copy dataframe
df = df_prod1.copy()

# 1️⃣ Basic Info
print("Dataset Shape:", df.shape)
print("\nData Types:\n", df.dtypes)

# 2️⃣ Missing Values
missing_count = df.isnull().sum()
missing_percent = (df.isnull().mean() * 100).round(2)
missing_summary = pd.DataFrame({
    'Column': df.columns,
    'Missing Values': missing_count,
    '% Missing': missing_percent
})
print("\nMissing Values Summary:\n", missing_summary)

# 3️⃣ Duplicates
total_duplicates = df.duplicated().sum()
print("\nTotal duplicate rows:", total_duplicates)

# Duplicates based on key identifiers
key_duplicates = df.duplicated(subset=['company', 'project_name', 'project_number']).sum()
print("Duplicates by company + project_name + project_number:", key_duplicates)

# 4️⃣ Object Columns Analysis
print("\nObject Columns Analysis:")
object_cols = df.select_dtypes(include='object').columns

for col in object_cols:
    print(f"\nColumn: {col}")
    
    # Unique values and counts
    value_counts = df[col].value_counts(dropna=False)
    print("Top 10 Value Counts:\n", value_counts.head(10))
    
    # Strip spaces and lowercase to detect inconsistencies
    clean_col = col + '_clean'
    df[clean_col] = df[col].astype(str).str.strip().str.lower()
    unique_cleaned = df[clean_col].nunique()
    print("Unique values after cleaning (strip/lowercase):", unique_cleaned)
    
    # Detect non-alphanumeric characters for text columns
    # Skip numeric-like columns like product_code
    if not col.endswith('code') and col not in ['capacity_units']:
        mask_nonalpha = df[clean_col].str.contains(r'[^a-z0-9\s&,-]', regex=True, na=False)
        if mask_nonalpha.sum() > 0:
            print("Non-alphanumeric entries:", df.loc[mask_nonalpha, col].unique())

# 5️⃣ Numeric Columns Analysis
print("\nNumeric Columns Analysis:")
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns

for col in numeric_cols:
    print(f"\nColumn: {col}")
    print("Missing values:", df[col].isna().sum())
    print("Unique values:", df[col].nunique())
    print("Statistical summary:\n", df[col].describe())

# 6️⃣ Rows where both 'new_capacity' and 'capacity_units' are null
both_null_count = df[df['new_capacity'].isna() & df['capacity_units'].isna()].shape[0]
print("\nRows where both 'new_capacity' and 'capacity_units' are missing:", both_null_count)

# 7️⃣ Flag expansion projects (use correct column names)
df['is_expansion_project'] = df['expansion_from'].apply(lambda x: 0 if pd.isna(x) else 1)
print("\nFlagged expansion projects. Sample:")
print(df[['project_name', 'expansion_from', 'expansion_to', 'is_expansion_project']].head())

Dataset Shape: (4753, 11)

Data Types:
 company                  object
company_code              int64
project_name             object
project_number            int64
product                  object
product_code             object
new_capacity            float64
expansion_from          float64
expansion_to            float64
capacity_units           object
is_expansion_project      int64
dtype: object

Missing Values Summary:
                                     Column  Missing Values  % Missing
company                            company               0        0.0
company_code                  company_code               0        0.0
project_name                  project_name               0        0.0
project_number              project_number               0        0.0
product                            product               0        0.0
product_code                  product_code               0        0.0
new_capacity                  new_capacity               0        0.0
expansion_from              expansion_from               0        0.0
expansion_to                  expansion_to               0        0.0
capacity_units              capacity_units               0        0.0
is_expansion_project  is_expansion_project               0        0.0

Total duplicate rows: 0
Duplicates by company + project_name + project_number: 1585

Object Columns Analysis:

Column: company
Top 10 Value Counts:
 company
Sobha Ltd.                                 185
I T C Ltd.                                 122
Maruti Suzuki India Ltd.                    98
Arcelormittal Nippon Steel India Ltd.       75
A G P City Gas Pvt. Ltd.                    71
Lifestyle International Pvt. Ltd.           66
Nayara Energy Ltd.                          57
Renew Power Pvt. Ltd.                       52
Software Technology Parks Of India Ltd.     49
Carlson Rezidor Hotel Group                 48
Name: count, dtype: int64
Unique values after cleaning (strip/lowercase): 1259
Non-alphanumeric entries: ['3d Technopack Pvt. Ltd.' '4pel Green Solutions Pvt. Ltd.'
 'A A M India Mfg. Corpn. Pvt. Ltd.' ... 'Zhongtong Bus Holding Co., Ltd.'
 'Zip Telecom Ltd.' 'Zuari Cement Ltd.']

Column: project_name
Top 10 Value Counts:
 project_name
Multi-location H&M Retail Outlets Project                               42
Multi-location Retail Stores Project                                    36
Multi-location Petrol Pump Retail Outlets Project                       32
Multi-location Retail Outlets Project                                   31
Multi-location Maruti Sales Outlets Project                             30
Multi-location Lifestyle and Home Centre Stores Project                 28
Bangalore Sobha Dream Acres (Aspirational Homes) Residential Project    24
Multi-location 250 Nexa Outlets Project                                 21
Multi-location Bata Franchise Stores Project                            20
Passenger Car Project                                                   20
Name: count, dtype: int64
Unique values after cleaning (strip/lowercase): 2944
Non-alphanumeric entries: ['Katni Cement (Clinker) Unit Project'
 'Barmer (1,070 MW Auction) Grid-Connected Solar PV Power Project (Tranche 3)'
 'Alapuzzha, Kollam & Thiruvananthapuram CGD Network Project (10th Round)'
 'Anantapur and YSR (Kadapa) CGD Network Project (10th Round)'
 'Bagalkot, Koppal and Raichur CGD Network Project (10th Round)'
 'Chikkamagaluru, Hassan and Kodagu CGD Network Project (10th Round)'
 'Chittoor, Kolar and Vellore CGD Network Project (10th Round)'
 'Kalaburagi and Vijayapura CGD Network Project (10th Round)'
 'Mysuru, Mandya and Chamarajanagar CGD Network Project (10th Round)'
 'Sri Potti Sriramulu Nellore CGD Network Project (10th Round)'
 'Uttara Kannada, Haveri and Shivamogga CGD Network Project (10th Round)'
 'Jodhpur (SECI 2,000 MW Auction) ISTS connected Solar PV Power Project (Tranche 9)'
 'East Nimar ISTS Connected Solar PV Power Project (NTPC 1,200 MW Auction 2)'
 'Ekalpar ISTS Connected Solar PV Power Project (Tranche 8)'
 'Jaisalmer ISTS Connected (1,200 MW Auction) Wind-Solar Hybrid Power Project (Tranche 3)'
 'Jodhpur ISTS Connected Wind-Solar Hybrid Power Project (Tranche 5)'
 'Tilhar (Shahjahanpur) Captive Solar Power Project'
 'Pithampur Fermentation Expansion (Phase 3) Project'
 'Kolkata Integrated Campus/BPO Project'
 'Gopalpur Greenfield Tank Storage Facility (for production of liquid ammonia) Project'
 'Kosi Kotwan (Mathura) Air Separation Unit Project'
 'Doddakannelli (Bangalore) Mango Hypermarket Project'
 'Neemuch (Solar Park) Solar Power Project'
 'Punjab (Allianz) 2 MW Solar Power Project'
 'Gare Palma IV/8 Coal Project'
 'Rabriyawas (Pali) Cement Upgradation Project'
 'Rauri Clinker Unit (Expansion) Project'
 'Falta Monocrystalline PERC Solar Cells and Modules Manufacturing Unit Project (Phase 1)'
 'Falta Monocrystalline PERC Solar Cells Manufacturing Unit Project (Phase 2)'
 'Maharashtra (Varroc) Solar Power Project'
 'Omkareshwar Floating (Phase I - Solar Park) Grid Connected Solar Power Project'
 'EMC Park (Infovalley) Solar Cells & Modules Manufacturing Unit Project'
 'Nilakottai (near Madurai) Personal Care & Nutritional Project'
 'Technopark (Thiruvananthapuram) Global Delivery Centre Project'
 'Aski (SECI 1,200 MW Auction) ISTS Connected Wind Power Plant Project (Tranche 14)'
 'Barmer (NHPC 3 GW Auction) ISTS Connected Solar Power Project'
 'Sidhpur ISTS Connected Wind Power Project (Tranche 8)'
 'Kudathini (Bellary) Solar Power Project'
 'Hazira Air Separation Unit (5th unit) Project'
 'Hazira Magnelis (Flat Carbon Steel) Production Line Project'
 'Hazira Steel Plant Capacity Expansion (Phase 2) Project'
 'Hazira Steel Plant Modernisation (replacing EAFs by BOFs) Project'
 'Melan (Kinnaur) Small Hydro Power Project'
 'Ennore H. Series Engines Project'
 'Lucknow Electric Bus Manufacturing Plant Project (Phase 1)'
 'Lucknow Electric Bus Manufacturing Plant Project (Phase 2)'
 'Mallavalli Bus Building Plant Project (Phase 1)'
 'Mallavalli Bus Building Plant Project (Phase 2)'
 'Ramayapatnam (Gudluru) Paper Mill Project'
 'Khed (Pune) Cold Storage Facility Project'
 'Halol Non-woven Fabric (Technical Textile) Project'
 'Kadapa (Solar Park) Solar Power Project'
 'Odisha (Hindalco-100 MW RTC) Solar & Wind Hybrid Power Project'
 'Rajasthan ISTS (1,200 MW Auction) Connected Solar PV Power Project (Tranche 4)'
 'Barmer (BrightNight) Hybrid Renewable Power Project 1'
 'Barmer (BrightNight) Hybrid Renewable Power Project 2'
 'Devbhumi Dwarka (BrightNight) Wind Power Plant Project 4'
 'Jaisalmer (BrightNight) Solar Power Plant Project 3'
 'Dondapadu (Guntur) BRS Medicity Project'
 'Chennai (Thervoy Kandigai SIPCOT) Wind Mill Component Manufacturing Plant Project'
 'Guwahati (GMCH) Qxygen Plant Project'
 'Agar (Solar Park) Solar Power Project'
 'New Delhi (DLF Emporio Mall) Berluti Maiden Boutique Project'
 'Naidupeta (Tirupati) Carbon Black Manufacturing Unit Project'
 'Bangalore Software Dev. Centre Project'
 'Readymade Garment & Woven Fabrics Expn. Project'
 'Chakan (Pune) Gearboxes and Gear motors (for diverse industries) Plant Project'
 'Thirumudivakkam (Chennai) Gear boxes, Earthmoving equipment and Machinery for Diverse Industrial Applications Plant Project'
 'Bambhori (Jalgaon) Brake Shoe Project'
 'Hyderabad Global Development Centre (R&D) Project'
 'Software Dev. Centre Project'
 'Nasik Common Rail Diesel Injectors Project (Phase 1)'
 'Nasik Common Rail Diesel Injectors Project (Phase 2)'
 'Oragadam (near Chennai) Power Tools Manufacturing Plant Project'
 'Yaragatti (Belagavi) Solar Power Project'
 'Chakan Tyre Manufacturing Project (Phase 2)'
 'Kheda (Indore) Tyre Manufacturing Plant Capacity Expansion Project'
 'Osmanabad (Dharashiv) Wind-Solar Hybrid Power Project'
 'Chandanhaula (South Delhi) Sky Mansion Residential Project'
 'Kalamboli (Panvel) Cement Blending Unit and Flyash Grinding Unit Project'
 'Makarpura (Vadodara) Single Wall Tube Project'
 'CB-OS/2 Oil (Lakshmi & Gauri) Exploration Project'
 'Mangala (RJ ON-90/1) Oil Field Exploration Project'
 "Multi-location 'Canon Image Square' Retail Outlets Project"
 'Hinjewadi (Pune) IGATE Corporate University Project'
 'Bathinda (Malwa Region) Cattle Feed Processing Plant Project'
 'Davangere Storage Facility (Silo for Corn) Project'
 'Tathed Greenfield Premix Plant (Animal Nutrition Products and Supplement) Project'
 'Mumbai (Goregaon) Radisson Blu Hotel Project'
 'Bhai Mohan Singh Nagar (Punjab) Atorvastatin Manufacturing Plant Project'
 'Kuanramunda (Sundargarh) Tap Hole Clay Unit Project'
 'Mundra Stainless Steel (Cold & Hot Rolling) Plant Project'
 'Kochi IT Campus Project (Phase 2)'
 'Mumbai(Hiranandani IT Park) Software Devp. Project'
 'Siruseri IT/ITES S E Z Project'
 'Goa (Arossim) Five Star Beach Resort Project'
 'Guduvanchery Warehouse (Phase 1) Project'
 'Guduvanchery Warehouse (Phase 2) Project'
 'Phaltan Large Size Engines (19L-60L) Plant Project'
 'Neemrana Room Air Conditioners Plant (Second) Project'
 'Sri City Air Conditioners Manufacturing (Third) Plant Project'
 'Kothaguda (Hyderabad) Home Furnishing Store Project'
 'Ganajur Gold Mining (Dharwad-Shimoga Belt) Project'
 'Delhi-Gurgaon Expressway (NH-8) Project'
 'Dhamwari(Shimla) Hydel Power Project'
 'Hibra (Chambal) Hydel Power Project'
 'Anantapur Auto Components Manufacturing Plant (Ancillary Unit) Project'
 'Ankleshwar Formulation of Dyes (Powder & Liquid), Pigments, Inks, Textile Auxiliary and Intermediates Manufacturing Plant Expansion Project'
 'Bangalore Call Centre Expansion Project_____'
 'Gopalpur (Ganjam) Green Ammonia Plant Project' 'MIG/MAG Wires Project'
 'Captive (Diesel) Power Project'
 'Jamnagar (Gujarat) Green Hydrogen Plant Project'
 'Panagarh Coal Bed Methane (CBM) Gas Liquefaction Facility Project'
 'RG(East)-CBM-2001/1 (Phase 4) Project'
 'Jharkhand (Tori - 1) Thermal Power Project'
 'Jharkhand (Tori - 2) Thermal Power Project'
 'Osmanabad ISTS Connected Wind Power Project (Tranche 10)'
 'Galiveedu (Ananthapuramu 1 Solar Park) Solar Power Plant 1 Project'
 'Galiveedu (Ananthapuramu 1 Solar Park) Solar Power Plant 2 Project'
 'Chennai (Pillaipakkam) Solar Modules Manufacturing Plant Project'
 'Kancheepuram (Sriperumbadur) Capacity Expansion & Engine project'
 'Urkura PC Components,Tablets & Smartphones Mfg/Assembly Plant Project'
 'Chennai (Arcot Road) Super Speciality Hospital Project'
 'Ludhiana (Fortis La Femme) Tertiary Care Hospital Phase 2 Project'
 'Marathallai (Whitefield) Hospital Project'
 'Peenya (Bangalore) Hospital Project'
 'Pavagada (Solar Park) Solar PV Power Project'
 'Goa Hotel Project (Fortune Resort Dolphin Bay)'
 "Kolkata `Fortune Park Panchwati' Hotel Project"
 'Madurai Hotel Project (Fortune Hotel Pandiyan)'
 'Patengali (Mashobra) Fortune Select Cedar Trail Hotel Project'
 'Goa Progressive/Aspherilenses Project'
 'Yellahanka IT SEZ (Ecopolis) Project'
 'Transmission Scheme for Solar Energy Zone in Gadag (1500 MW) Karnataka Part-A Phase-II Project'
 'Transmission Scheme for Solar Energy Zone in Gadag (1000 MW), Karnataka   Part-A, Phase-I Project'
 'Ganjam (Gopalpur Industrial Park) Edible Oil Refinery Project'
 'Punjab (Guru Gobind Singh TPS-Ropar) Gas Based Power Project'
 'Greenfield Small Cars (Chevrolet Spark) Project'
 'Forged Rolls Expansion (Phase 1) Project'
 'Forged Rolls Expansion (Phase 2) Project'
 'Baari Seer (SECI 2,000 MW Auction) ISTS connected Solar PV Power Project (Tranche 9)'
 'Jaisalmer (Bhilani) Wind Power Project'
 'Delhi & Mumbai Collection of Style (COS) Retail Stores Project'
 'Thiruvananthapuram (Technopark) Global Technology Centre Project'
 'Chakan Construction Equipment Expansion/Modernisation Project'
 'Noida Electronics & Home Appliances (2 nd Plant) Project'
 'Ranjangaon (Pune Industrial Park) Deep Freezer Manufacturing Factory Project'
 'Ranjangaon Industrial Park (AC, Washing Machines and Other Appliances) Plant Project'
 'Jhansi Grinding Mill De-bottlenecking (Expansion) Plant Project'
 'lmlai Grinding Mill De-bottlenecking (Expansion) Plant Project'
 'Mehsana Accelerator Pedal Sensors Manufacturing Plant (Phase 1) Project'
 'Changodar Air-Conditioning Compressors and Refrigeration Products Plant Expansion Project (Phase 4)'
 'Changodar Air-Conditioning Compressors and Refrigeration Products Plant Project (Phase 1, 2, 3)'
 '120 MW Grid Connected Solar PV Power Project (Phase 18)'
 'Omkareshwar Floating (Phase II - Solar Park) Grid Connected Solar Power Project'
 "140 MW (GUVNL's 500 MW Auction) Grid Connected Solar Power Project Phase 22"
 "Barmer (NHPC's 3 GW Auction) ISTS Connected Solar Power Project"
 'AAP-ON-94/1 Onland Block Project' 'MB/OSDSF/B80/2016 Project'
 'Bharuch (Gujrat) Heat Exchanger, Feed Water Heater & Dry Wet Condenser Manufacturing Plant Project'
 'Bhiwadi (Tapukara) Greenfield Diesel Engine Plant Project'
 'Bhiwadi (Tapukara) Passenger Car Project Phase 2'
 'Bhiwadi (Tapukara) Powertrain Facility Project Phase 1'
 'Vithalapur Passenger Cars Manufacturing (Third) Plant Project'
 "Gurgaon 'Honda BigWing' Exclusive Retail Outlet Project"
 'Manesar (Global Resource Factory) Engine Assembly Line Project'
 'Vithalapur (Gujarat) Engine Manufacturing Plant Project'
 'Vitthalapur (Gujarat) Two-Wheelers Plant Capacity Expansion Project'
 'Bangalore Software Dev. & R&D Centre Project'
 'Hisar Green Hydrogen Manufacturing Plant Project (pilot scale)'
 'Irungattukkottai (Sriperumbudur) Engine plant Project'
 'Sriperumbudur (Near Chennai) Electric Car Plant & Capacity Expansion, Charging Stations Project'
 'Andal EWS & MIG (PMAY) Affordable Housing Project'
 '130 MW Grid Connected Solar PV Power Project (Phase 18)'
 'Jaisalmer (SECI 2,000 MW Auction) ISTS connected Solar PV Power Project (Tranche 9)'
 'Pallikaranai IT/ITES/BPO S E Z Project'
 'Parel Hotel Project (ITC Grand Central Hotel)'
 'Bhadrachalam Bleached Chemical Thermo Mechanical Pulp (BCTMP)  Project'
 'Bhubaneshwar (Dumuduma) Welcom Five-Star Hotel Project'
 'Chlorine-free (ECF) Pulp and Paper Mill Project'
 'Kamrup (Assam) Biscuits Manufacturing Plant Project'
 'Kolar (Karnataka) Noodles Manufacturing Plant Project'
 'Patengali (Shimla) Welcom Hotel Project'
 'Sehore (Badiya Khedi Industrial Area) Integrated Food Processing & Logistics Facility Project'
 'Bangalore (Nagasandra) Ikea Store Project'
 'Gurgaon Shopping Centre (Lykli) Project'
 'Hyderabad (HiTec City) Ikea Store Project'
 'Palamaner New Parathas Manufacturing Plant (Sumeru) Project'
 'Gajraula (Amroha) Propane/LPG Mounded Storage facility Project'
 'Kamalanga (Dhenkanal) Power Project'
 '75 Boeing 737 Max 8 Aircraft Acquisition Project (Phase 1)'
 '75 Boeing 737 Max 8 Aircraft Acquisition Project (Phase 2)'
 '75 Boeing 737 Max 8 Aircraft Purchase Project (Phase 3)'
 'Tirupati Mobile Phone Components (Xiaomi) Manufacturing Facility Project'
 'Port Based Multi-Products SEZ (Phase 1) Project'
 'Chakan Plant Capacity (Cars Wheel Rims) Expansion Project'
 'Chakan Plant Capacity (Truck Wheel Rims) Expansion Project'
 'Kuruli (Pune) Wheel Rim Project'
 'Achutapuram (Visakhapatnam) Paint Manufacturing Unit Project'
 'Jainpur (UP) Paint Plant Capacity Addition Project'
 'Singur Cold Storage (Warehouse) Project'
 'Sri City Food Processing Plant (Cereals) Project'
 "'7 JVPD' Residential Project"
 'Noida (Entertainment City) Indoor Theme Park Project'
 'Pillaipakkam (Sriperumbudur) Elevator Manufacturing Plant Project'
 'Evacuation of power from RE sources in Koppal Wind Energy Zone (Karnataka) (2500MW) Project'
 'Gautam Buddha Nagar Compressors (Refrigerators) Manufacturing Expansion Project'
 'Mobile Phone (GSM) Expansion Project' 'Mobile Phone (GSM) Project'
 'Pune LCD/ LED Television Manufacturing Unit Project'
 "Multi-Location L'Oreal Stores Project" 'Gurgaon Retail (Mall) Project'
 'Greater Noida Smartphone Assembly Plant Project (Partner-Compal Electronics)'
 'Multi-location Retail Stores & Franchise Stores (Phase 1) Project'
 'Multi-location Retail Stores & Franchise Stores Expansion (Phase 2) Project'
 'Nagpur Pre-Harvesting Equipment Manufacturing Plant Project (Phase 2)'
 'Aurangabad Cooling Appliances Plant (Phase 1) Project'
 "Chennai 'Lifestyle' Store Project"
 "Multi-location 'Lifestyle' Stores Project (Phase 1)"
 "Multi-location 'Lifestyle' Stores Project (Phase 2)"
 'Dhanansu (Ludhiana) Air Separation Plant Project'
 'Uttarpara (Kolkata) Logistics and Warehousing Facility Project'
 'Vilayat Chlorinated Polyvinyl Chloride (CPVC) resin Manufacturing Plant Project'
 'Lucknow-Sitapur (NH-24) Highway Project'
 'Rajajinagar (Bangalore) Shopping Mall Project'
 'Bhadrak Polyester Continuous Polymerisation & Allied Yarn Project (NIP)'
 'Bhuniaraichak (Haldia) Coal Based Captive Power Plant Project'
 'Bhuniaraichak (Haldia) Purified Terephthalic Acid (PTA) Manufacturing Plant Project'
 'PTA (Unit 2) Project'
 'Elante Mall (Chandigarh) MG Motor Retail Outlet Project'
 'Madhepura Electric Locomotive Facility Project (Phase I)'
 'Bangalore E-Mobility Engineering Centre/ Innovation Campus Project'
 "Multi-location 400 Marco's Pizza Outlets Project"
 "Pune `The Marriott' Suites Hotel Project"
 'Passenger Car (Swift) Project'
 'Gurgaon Diesel Engine (800cc) Assembly Line Project'
 'Kharkhoda (Sonipat) Third Passenger Cars Manufacturing Plant Project (Phase 1)'
 'Kharkhoda (Sonipat) Third Passenger Cars Manufacturing Plant Project (Phase 2 & 3)'
 'Manesar (Plant B) Capacity Expansion Project Phase 2'
 'Manesar (Plant C) Capacity Expansion Project Phase 3'
 'Manesar Plant Capacity Expansion Project (Plant D)'
 'Passenger Car (Alto) Expansion Project' 'Passenger Car (Zen) Project'
 'Passenger Cars (800-CC) Project' 'Ranchi (Barhi) Car Stockyard Project'
 'Khandwa ISTS Connected Solar PV Power Project (Tranche 6)'
 'Birplassi (Solan) Construction Chemicals Manufacturing Plant Project'
 'Chakan Cars Assembly Line (Phase 2) Project'
 'Eachanari (Coimbatore) Mercedes-Benz Service Facility Project'
 'Whitefield (Bangalore) Third Research & Development Facility Project'
 'Pune Compressors & Motors for Appliances (GMCC & Welling) Manufacturing Unit Project'
 'Peruvoyal (Thiruvallur) AC Manufacturing Plant Project'
 'Sri City Chocolate Manufacturing Unit (Phase 1) Project'
 'RG(East)-CBM-2001/1 (Phase 3) Project'
 'RG(East)-CBM-2001/1 Project (Phase 1)'
 'RG(East)-CBM-2001/1 Project (Phase 2)'
 'Vadinar (Jamnagar) Refinery Project'
 'Wardha Rail-fed 1st Petroleum Oil Lubricants (POL) Depot Project'
 'Raichak-Kukrahati (River Hoogly) Bridge Project'
 'Channehatti Grain Based Distillery (Ethanol) Plant Project'
 'Mahad Active Pharmaceutical Ingredients (APIs) Manufacturing Unit Expansion Project'
 'Greater Noida Oppo Industrial Park/ Manufacturing Unit Project'
 'Goregaon Software Dev. Centre Project'
 'Karnataka ISTS Connected Wind Power Projects (Tranche 6)'
 'Kutch ISTS Connected Wind Power Project (Tranche 7)'
 'Bhuj ISTS Connected Wind Power Project (Tranche 1)'
 'Koyyalagudem Active Pharma Ingredients (Bulk Drugs & Intermediates) Manufacturing Unit Expansion Project'
 'Butibori Liquor (Malt Spirit) Manufacturing Project'
 'Mahindra World City (Jaipur) ATMs Unit Project'
 'Krishnapatnam Port Propane/Butane/LPG Import & Storage Terminal Project'
 'Patalganga (MIDC) Lubricants Blending Plant Project'
 'Bhadla Phase 4 (Solar Park) Solar Power Project'
 'Kakinada Rice Mill (Non-Basmati Rice) Project'
 'Bokaro (Posco-SAIL JV) Steel Plant Project'
 'Mangaon (Vile-Bhagad) Cold Rolling Mill (Phase 2) Project'
 'Mangaon (Vile-Bhagad) Continuous Galvanising Plant (Phase 1) Project'
 'Mangaon (Vile-Bhagad) CRNO Steel Mill Project'
 'Bangalore Plastic/Laminated Film Project'
 'Patancheru (Hyderabad) Air Separation Unit (ASU) Project'
 'Navi Mumbai (Airoli) MU1 Data Centre Expansion Project'
 'Hyderabad IT Campus (Phase 1) Project'
 'Krishna (Machilipatnam) Coal Based Thermal Power Project'
 'MSEZ, Mangalore Green Ammonia Production Facility Project (Phase 1)'
 'MSEZ, Mangalore Green Ammonia Production Facility Project (Phase 2)'

In [184]:
df_prod2=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_projects_in_database_since_1995_saichittaranjank_20250219181103/Products_and_Capacity2.txt'   ,sep="|", encoding='latin1')
df_prod2.head()

,Company,Company Code,Project Name,Project Number,Product,Product Code,New Capacity,Expansion From,Expansion To,Capacity Units
0,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,Residential Apartments,74120604000000000000,472.00,NaN,NaN,Flats
1,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,Hall (area),74121299000000000000,124.72,NaN,NaN,Square metres
2,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,Hall (units),74121299000000000000,1.00,NaN,NaN,Numbers
3,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,Residential Apartments (area),74120604000000000000,506.43,NaN,NaN,Square metres
4,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,Residential Apartments (units),74120604000000000000,7.00,NaN,NaN,Numbers

In [185]:
# import pandas as pd
# import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt

# # Numeric columns to check
# numeric_cols = ['new_capacity', 'expansion_from', 'expansion_to']

# # 1️⃣ Visual check
# for col in numeric_cols:
#     plt.figure(figsize=(6,4))
#     sns.boxplot(x=df_prod1[col])
#     plt.title(f'Boxplot of {col}')
#     plt.show()
    
#     plt.figure(figsize=(6,4))
#     sns.histplot(df_prod1[col], kde=True)
#     plt.title(f'Histogram of {col}')
#     plt.show()

# # 2️⃣ Detect outliers using IQR and report
# for col in numeric_cols:
#     Q1 = df_prod1[col].quantile(0.25)
#     Q3 = df_prod1[col].quantile(0.75)
#     IQR = Q3 - Q1
#     lower_bound = Q1 - 1.5 * IQR
#     upper_bound = Q3 + 1.5 * IQR
    
#     outliers = df_prod1[(df_prod1[col] < lower_bound) | (df_prod1[col] > upper_bound)]
#     print(f"{col} has {outliers.shape[0]} outliers (IQR method)")

# # 3️⃣ Handle outliers by capping (Winsorization)
# for col in numeric_cols:
#     Q1 = df_prod1[col].quantile(0.25)
#     Q3 = df_prod1[col].quantile(0.75)
#     IQR = Q3 - Q1
#     lower_bound = Q1 - 1.5 * IQR
#     upper_bound = Q3 + 1.5 * IQR
    
#     # Cap values outside bounds
#     df_prod1[col] = df_prod1[col].clip(lower=lower_bound, upper=upper_bound)

# # 4️⃣ Verify after handling
# for col in numeric_cols:
#     plt.figure(figsize=(6,4))
#     sns.boxplot(x=df_prod1[col])
#     plt.title(f'Boxplot of {col} after capping')
#     plt.show()

In [186]:
from scipy.stats import zscore
import numpy as np

numeric_cols = ['new_capacity', 'expansion_from', 'expansion_to']

for col in numeric_cols:
    df_prod1[col+'_zscore'] = zscore(df_prod1[col].fillna(df_prod1[col].median()))
    outliers = df_prod1[np.abs(df_prod1[col+'_zscore']) > 3]
    print(f"{col} has {outliers.shape[0]} outliers using Z-score")
    
    # Optionally, remove or cap
    df_prod1[col] = np.where(df_prod1[col+'_zscore'] > 3, df_prod1[col].quantile(0.95), df_prod1[col])
    df_prod1[col] = np.where(df_prod1[col+'_zscore'] < -3, df_prod1[col].quantile(0.05), df_prod1[col])

new_capacity has 20 outliers using Z-score
expansion_from has 14 outliers using Z-score
expansion_to has 14 outliers using Z-score

In [ ]:
from scipy.stats import zscore
import numpy as np

numeric_cols = ['new_capacity', 'expansion_from', 'expansion_to']

for col in numeric_cols:
    df_prod1[col+'_zscore'] = zscore(df_prod1[col].fillna(df_prod1[col].median()))
    outliers = df_prod1[np.abs(df_prod1[col+'_zscore']) > 3]
    print(f"{col} has {outliers.shape[0]} outliers using Z-score")
    
    # Optionally, remove or cap
    df_prod1[col] = np.where(df_prod1[col+'_zscore'] > 3, df_prod1[col].quantile(0.95), df_prod1[col])
    df_prod1[col] = np.where(df_prod1[col+'_zscore'] < -3, df_prod1[col].quantile(0.05), df_prod1[col])

new_capacity has 20 outliers using Z-score
expansion_from has 14 outliers using Z-score
expansion_to has 14 outliers using Z-score

In [221]:
df_prod1.describe()

,company_code,project_number,new_capacity,expansion_from,expansion_to,is_expansion_project,new_capacity_zscore,expansion_from_zscore,expansion_to_zscore
count,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.0,4.753000e+03,4.753000e+03,4753.000000
mean,255921.556701,13.163265,4807.276665,787.423934,1474.874932,1.0,4.858540e-18,5.979741e-18,0.000000
std,201552.358451,23.359758,34598.840707,8641.696385,17525.774298,0.0,1.000105e+00,1.000105e+00,1.000105
min,381.000000,1.000000,0.010000,0.000000,0.000000,1.0,-7.252591e-02,-4.702513e-02,-0.044296
25%,88220.000000,1.000000,5.300000,0.000000,0.000000,1.0,-7.249954e-02,-4.702513e-02,-0.044296
50%,204173.000000,3.000000,50.000000,0.000000,0.000000,1.0,-7.227668e-02,-4.702513e-02,-0.044296
75%,386795.000000,12.000000,280.000000,1.400000,5.000000,1.0,-7.112995e-02,-4.701014e-02,-0.044268
max,717301.000000,155.000000,600000.000000,220000.000000,500000.000000,1.0,3.987336e+01,5.435859e+01,56.329374

In [187]:
df_prod=pd.concat([df_prod1,df_prod2],ignore_index=True)
df_prod.shape

(217120, 24)

Project Associate

In [188]:
df_assoc1=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Associates.txt',sep="|")
df_assoc1.head()

,Company,Company Code,Project Name,Project Number,Associate Type,Associate Company(AC),AC Code,AC Country,AC Address,AC Pincode,AC City,AC State,AC Tel No,AC Fax,AC Email,AC Website
0,4pel Green Solutions Pvt. Ltd.,646770,Vilayat Wind-Solar Hybrid Captive Power Project,1,Co-promoter,Grasim Industries Ltd.,85447,India,"Corporate Office:A-2, Aditya Birla Centre, S K...",400030.0,Mumbai,Maharashtra,91-22-24995000,91-22-66525114,grasim.secretarial@adityabirla.com,www.grasim.com
1,A C C Ltd.,23354,Jamul Cement Clinker & Grinding Unit Project,82,Contractor,Mcnally Bharat Engg. Co. Ltd.,142553,India,"Corporate Office:Ecospace Business Park, Campu...",700156.0,North 24 Parganas,West Bengal,91-33-30141111,91-33-44591009,mbecal@mbecal.co.in,www.mcnallybharat.com
2,A C C Ltd.,23354,Jamul Cement Clinker & Grinding Unit Project,82,Machinery supplier,Loesche Gmbh,129307,Germany,Registered Office:,NaN,NaN,NaN,NaN,NaN,NaN,www.loesche.com
3,A C C Ltd.,23354,Madhukunda Damodhar Cement Works Grinding Unit...,85,Consultant,Cholamandalam M S Risk Services Ltd.,47309,India,"Registered Office:Dare House No.2, N S C Bose ...",600001.0,Chennai,Tamil Nadu,91-44-30445620,91-44-30445550,sundarm1@cholams.murugappa.com,www.cholarisk.com
4,A C C Ltd.,23354,Sindri Cement Grinding Unit Expansion Project,79,Contractor,Mcnally Bharat Engg. Co. Ltd.,142553,India,"Corporate Office:Ecospace Business Park, Campu...",700156.0,North 24 Parganas,West Bengal,91-33-30141111,91-33-44591009,mbecal@mbecal.co.in,www.mcnallybharat.com

In [189]:
df_assoc1.shape

(1830, 16)

In [190]:
df_assoc2=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_projects_in_database_since_1995_saichittaranjank_20250219181103/Project_Associates2.txt',sep="|", encoding='latin1')
df_assoc2.head()

,Company,Company Code,Project Name,Project Number,Associate Type,Associate Company(AC),AC Code,AC Country,AC Address,AC Pincode,AC City,AC State,AC Tel No,AC Fax,AC Email,AC Website
0,3 F Industries Ltd.,74342,Tadepalligudem Power Project,6,Consultant,Avant-garde Engineers & Consultants Pvt. Ltd.,25150,India,"Registered Office:68-A, Porur Kundrathur High ...",600116.0,Chennai,Tamil Nadu,NaN,NaN,NaN,NaN
1,4pel Green Solutions Pvt. Ltd.,646770,Vilayat Wind-Solar Hybrid Captive Power Project,1,Co-promoter,Grasim Industries Ltd.,85447,India,"Corporate Office:A-2, Aditya Birla Centre, S K...",400030.0,Mumbai,Maharashtra,91-22-24995000,91-22-66525114,grasim.secretarial@adityabirla.com,www.grasim.com
2,4s Laboratories,654783,Kadechur Active Pharmaceutical Ingredients Man...,1,Consultant,A M Enviro Engineers,612040,India,"Registered Office:No.14, Harikrupa, Pattalamma...",560004.0,Bengaluru,Karnataka,91-80-26576577,NaN,info@amee.in,www.amee.in
3,7 Star Chemicals,659593,Dahej Pigments Manufacturing Plant Project,1,Consultant,Satva Environ Consultancy,642591,India,"Registered Office:14,15 Gopal Estate, First Fl...",380026.0,Ahmedabad,Gujarat,NaN,NaN,satvaenviron@gmail.com,www.sattva.co.in
4,7-eleven Inc.,656480,Multi-location 7-Eleven Retail Stores Project,1,Co-promoter,7-india Convenience Retail Ltd.,656503,India,"Registered Office:4th Floor, Court House, Lokm...",400002.0,Mumbai,Maharashtra,91-22-35553800,NaN,sridhar.kothandaraman@ril.com,www.relianceretail.com

In [191]:
df_assoc=pd.concat([df_assoc1,df_assoc2],ignore_index=True)
df_assoc.shape

(43824, 16)

Project Completion

In [192]:
df_completion1=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Completion_Details.txt',sep="|")
df_completion1.head()

,Company,Company Code,Project Name,Project Number,Completion Date,Description
0,3m India Ltd.,36277,Bangalore R&D Centre Project,6,23 Sep 2011,Completed
1,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,29 Aug 2011,Completed
2,A A M India Mfg. Corpn. Pvt. Ltd.,424736,"Ahmednagar Drives Axles, Parts & Components Pl...",1,01 Jan 2014,Completed
3,A B B,206,R & D Centre Project,1,19 Feb 2002,Completed
4,A B B India Ltd.,21420,Bangalore Digitalised Remote Service Centre Pr...,19,04 May 2017,Completed

In [193]:
df_completion1.shape

(3090, 6)

In [194]:
df_completion1.isnull().sum()

Company            0
Company Code       0
Project Name       0
Project Number     0
Completion Date    0
Description        0
dtype: int64

In [195]:
df_completion1['date'] = pd.to_datetime(df_completion1['Completion Date'], format='%d %b %Y')

# Extract year, month, and day
df_completion1['year'] = df_completion1['date'].dt.year
df_completion1['month'] = df_completion1['date'].dt.month
df_completion1['day'] = df_completion1['date'].dt.day

In [196]:
df_completion1['year'].min()
df_completion1['year'].max()

np.int32(2070)

In [197]:
df_completion2=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_projects_in_database_since_1995_saichittaranjank_20250219181103/Project_Completion_Details2.txt',sep="|",encoding='latin1')
df_completion2.head()

,Company,Company Code,Project Name,Project Number,Completion Date,Description
0,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,01 Jun 2031,Completion expected by
1,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,31 Mar 2027,Completion expected by
2,20 Microns Ltd.,11,Alwar Organic Chemicals Expansion Project,11,30 Jun 2022,Completed
3,20 Microns Ltd.,11,Bhuj & Vadodara China Clay & Bentonite Project,9,31 Mar 2012,Completed
4,20 Microns Ltd.,11,Bhuj China Clay Expansion Project,6,31 Dec 2008,Completed

In [198]:
df_completion2['date'] = pd.to_datetime(df_completion2['Completion Date'], format='%d %b %Y')

# Extract year, month, and day
df_completion2['year'] = df_completion2['date'].dt.year
df_completion2['month'] = df_completion2['date'].dt.month
df_completion2['day'] = df_completion2['date'].dt.day

In [199]:
print(df_completion2['year'].min())
print(df_completion2['year'].max())

1969
2070

In [200]:
df_completion2[df_completion2['year']>2025]

,Company,Company Code,Project Name,Project Number,Completion Date,Description,date,year,month,day
0,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,01 Jun 2031,Completion expected by,2031-06-01,2031,6,1
1,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,31 Mar 2027,Completion expected by,2027-03-31,2027,3,31
15,25 West Realty Pvt. Ltd.,676350,Andheri 25 West A (East) Wing Residential Project,1,30 Jun 2032,Completion expected by,2032-06-30,2032,6,30
16,28-aeon Infinity L L P,677325,Bhiwandi Infinity Square Real estate Project,1,31 Dec 2027,Completion expected by,2027-12-31,2027,12,31
22,360life Sustainable Luxury Homes L L P,709551,"Off Hitex Road, Serilingampally 360life-Tower ...",1,30 Oct 2027,Completion expected by,2027-10-30,2027,10,30
...,...,...,...,...,...,...,...,...,...,...
61717,Zee R P M Properties L L P,678442,Andheri Zee Manu Bharati Mixed Use Project,1,31 Mar 2027,Completion expected by,2027-03-31,2027,3,31
61720,Zenethist Realty L L P,702870,Pune Proposed Residential & Commercial Project,1,16 Jul 2027,Completion expected by,2027-07-16,2027,7,16
61732,Zenith Realty,705089,Nashik Proposed Residential Project,1,31 Dec 2031,Completion expected by,2031-12-31,2031,12,31
61751,Zest Engicon Pvt. Ltd.,716369,Gaya Nooristan Residential Project,1,27 Mar 2027,Completion expected by,2027-03-27,2027,3,27
61797,Zuari Observatory Towers Ltd.,690345,Panjim New Zuari Bridge Observatory Towers and...,1,31 Dec 2029,Completion expected by,2029-12-31,2029,12,31

In [201]:
df_completion2[df_completion2['Company']=='Zenethist Realty L L P' ]

,Company,Company Code,Project Name,Project Number,Completion Date,Description,date,year,month,day
61720,Zenethist Realty L L P,702870,Pune Proposed Residential & Commercial Project,1,16 Jul 2027,Completion expected by,2027-07-16,2027,7,16

In [202]:
df_completion=pd.concat([df_completion1,df_completion2],ignore_index=True)  
df_completion.shape

(64917, 10)

Cost

In [203]:
df_cost1=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Cost.txt',sep="|")
df_cost1.head()

,Company,Company Code,Project Name,Project Number,Date of Cost of Project,Cost of Project (Rs. Million)
0,3m India Ltd.,36277,Bangalore R&D Centre Project,6,01 Apr 2011,1000.0
1,3m India Ltd.,36277,Industrial & Consumer Product Project,1,01 Dec 1996,400.0
2,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,23 Jul 2009,270.0
3,3m India Ltd.,36277,Non Woven Fibre Products Project,2,01 Dec 1996,300.3
4,3m India Ltd.,36277,Sanand Anti-Corrosion Products Project,3,30 Oct 2006,62.0

In [204]:
df_cost1.shape

(5077, 6)

In [205]:
df_cost1['date'] = pd.to_datetime(df_cost1['Date of Cost of Project'], format='%d %b %Y')

# Extract year, month, and day
df_cost1['year'] = df_cost1['date'].dt.year
df_cost1['month'] = df_cost1['date'].dt.month
df_cost1['day'] = df_cost1['date'].dt.day

In [206]:
print(df_cost1['year'].min())
print(df_cost1['year'].max())

1992
2025

In [207]:
df_cost2=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_projects_in_database_since_1995_saichittaranjank_20250219181103/Project_Cost2.txt',sep="|")
df_cost2.head()

,Company,Company Code,Project Name,Project Number,Date of Cost of Project,Cost of Project (Rs. Million)
0,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,02 Jun 2024,8339.5
1,20 Microns Ltd.,11,Bhuj & Vadodara China Clay & Bentonite Project,9,13 Jan 2009,631.0
2,20 Microns Ltd.,11,Bhuj China Clay Expansion Project,6,19 Mar 2008,380.0
3,20 Microns Ltd.,11,Bhuj China Clay Expansion Project,6,01 Apr 2008,150.0
4,20 Microns Ltd.,11,Daman Dry & Wet Grinding Project,2,19 Mar 2008,166.4

In [208]:
df_cost=pd.concat([df_cost1,df_cost2],ignore_index=True)
df_cost.shape

(131111, 10)

Details

In [209]:
df_details1=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Detail.txt',sep="|")
df_details1.head()

,Company,Company Code,Project Name,Project Number,Company's Registered Office Address,Pincode,City,State,Tel No,Fax,...,Industry,Industry Code,Ownership,Ownership Code,Type of Unit,Cost (Rs. Million),Project Status,Contract Type,Potential Employment,Completion Date
0,3 Com Corpn. Inc.,36,Call Centre Project,1,"Third Floor Ranka Chambers 31,Cunningham Road",560052.0,Bengaluru,Karnataka,NaN,NaN,...,ITES,101040802000000,Private (Foreign),20202000000,New Unit,NaN,No Information,NaN,NaN,NaN
1,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,"809, 8th Floor, Lodha Supremus, I Think Techno...",400042.0,Mumbai,Maharashtra,NaN,NaN,...,"Plastic furniture, floorings & miscellaneous i...",101012045400000,Private (Foreign),20202000000,New Unit,NaN,No Information,NaN,NaN,NaN
2,3m India Ltd.,36277,Bangalore R&D Centre Project,6,"We Work Prestige Central, 3rd Floor, 36 Infant...",560001.0,Bengaluru,Karnataka,91-80-22231414,NaN,...,Business services & consultancy,101041510000000,Private (Foreign),20202000000,New Unit,1000.0,Completed,NaN,NaN,September 2011
3,3m India Ltd.,36277,Industrial & Consumer Product Project,1,"We Work Prestige Central, 3rd Floor, 36 Infant...",560001.0,Bengaluru,Karnataka,91-80-22231414,NaN,...,Other electronics,101014010900000,Private (Foreign),20202000000,New Unit,400.0,No Information,NaN,NaN,NaN
4,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,"We Work Prestige Central, 3rd Floor, 36 Infant...",560001.0,Bengaluru,Karnataka,91-80-22231414,NaN,...,Polymers,101012040000000,Private (Foreign),20202000000,Substantial Expansion,270.0,Completed,NaN,NaN,August 2011

In [210]:
df_details1.shape

(5736, 22)

In [211]:
df_details2=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_projects_in_database_since_1995_saichittaranjank_20250219181103/Project_Detail2.txt',sep="|",encoding='latin1')
df_details2.head()

,Company,Company Code,Project Name,Project Number,Company's Registered Office Address,Pincode,City,State,Tel No,Fax,...,Industry,Industry Code,Ownership,Ownership Code,Type of Unit,Cost (Rs. Million),Project Status,Contract Type,Potential Employment,Completion Date
0,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,"711/92, Deepali, Nehru Place,",110019.0,New Delhi,NCT of Delhi,91-120-7111500,NaN,...,Housing construction,1.010601e+14,Private (Indian),20102000000,New Unit,8339.5,Under Implementation,NaN,NaN,June 2031
1,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,"Nandi Arcade, Venkatesh Nagar, Nanded Waghala ...",431602.0,Nanded,Maharashtra,NaN,NaN,...,Housing construction,1.010601e+14,Private (Indian),20102000000,New Unit,NaN,Under Implementation,NaN,NaN,March 2027
2,11th Rudra Realty Pvt. Ltd.,572173,Nanded Manasarovar Residential Project,1,"H No.1-17-451, Shamhavis Academy For Techosice...",431602.0,Nanded,Maharashtra,NaN,NaN,...,Housing construction,1.010601e+14,Private (Indian),20102000000,New Unit,NaN,Under Implementation,NaN,NaN,NaN
3,20 Microns Ltd.,11,Alwar Organic Chemicals Expansion Project,11,"134-135, Hindustan Kohinoor Industrial Estate,...",400083.0,Mumbai,Maharashtra,91-22-25771325,91-22-25771333,...,Organic chemicals,1.010120e+14,20 Microns Group,20101037799,Substantial Expansion,NaN,Completed,NaN,NaN,June 2022
4,20 Microns Ltd.,11,Bhuj & Vadodara China Clay & Bentonite Project,9,"134-135, Hindustan Kohinoor Industrial Estate,...",400083.0,Mumbai,Maharashtra,91-22-25771325,91-22-25771333,...,Minerals,1.010203e+14,20 Microns Group,20101037799,New Unit,631.0,Completed,NaN,575.0,March 2012

In [212]:
df_details=pd.concat([df_details1,df_details2],ignore_index=True)
df_details.shape

(132428, 22)

Events

In [213]:
df_events1=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Events.txt',sep="|")
df_events1.head()

,Company,Company Code,Project Name,Project Number,Event Date,Event,Reason for Stalling,Product,Quantity,Quantity Unit
0,3 Com Corpn. Inc.,36,Call Centre Project,1,01 Sep 2000,Date of announcement,NaN,NaN,NaN,NaN
1,3 Com Corpn. Inc.,36,Call Centre Project,1,31 Dec 2000,Implementation started,NaN,NaN,NaN,NaN
2,3 Com Corpn. Inc.,36,Call Centre Project,1,31 Mar 2001,Initial completion date,NaN,NaN,NaN,NaN
3,3 Com Corpn. Inc.,36,Call Centre Project,1,31 Dec 2004,No information as on,NaN,NaN,NaN,NaN
4,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,26 Apr 2011,Date of announcement,NaN,NaN,NaN,NaN

In [214]:
df_events1.shape

(45245, 10)

In [215]:
df_events2=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_projects_in_database_since_1995_saichittaranjank_20250219181103/Project_Events2.txt',sep="|")
df_events2.head()

,Company,Company Code,Project Name,Project Number,Event Date,Event,Reason for Stalling,Product,Quantity,Quantity Unit
0,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,01 Jan 2024,Date of announcement,NaN,NaN,NaN,NaN
1,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,02 Jun 2024,Construction commenced,NaN,NaN,NaN,NaN
2,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,02 Jun 2024,Implementation started,NaN,NaN,NaN,NaN
3,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,01 Jun 2031,Completion expected by,NaN,NaN,NaN,NaN
4,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,20 Jun 2022,Date of announcement,NaN,NaN,NaN,NaN

In [216]:
df_events=pd.concat([df_events1,df_events2],ignore_index=True)
df_events.shape

(1287286, 10)

Location

In [217]:
df_loc1=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Location.txt',sep="|")
df_loc1.head()

,Company,Company Code,Project Name,Project Number,Location,District,District Code,State,"Longitude,Latitude"
0,3 Com Corpn. Inc.,36,Call Centre Project,1,Delhi,NCT of Delhi Districts,10107010000,NCT of Delhi,NaN
1,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,silvassa,Dadra & Nagar Haveli,30204010500,Dadra & Nagar Haveli,"20.26668864201093,73.0036917434668"
2,3m India Ltd.,36277,Bangalore R&D Centre Project,6,Bangalore,Bangalore,40102011000,Karnataka,"12.84315660499012,77.65969296522395"
3,3m India Ltd.,36277,Industrial & Consumer Product Project,1,Ranjangaon,Pune,30102017300,Maharashtra,NaN
4,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,Moraiya,Ahmadabad,30101010500,Gujarat,"22.9258842131253,72.41604090091505"

In [218]:
df_loc1.shape

(6191, 9)

In [219]:
df_loc2=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_projects_in_database_since_1995_saichittaranjank_20250219181103/Project_Location2.txt',sep="|")
df_loc2.head()

,Company,Company Code,Project Name,Project Number,Location,District,District Code,State,"Longitude,Latitude"
0,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,"Sector 105,",Gurgaon,10104013000,Haryana,"28.48740841228426,77.00640226125888"
1,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,Nanded,Nanded,30102015800,Maharashtra,"19.14846735658691,77.31922549325884"
2,11th Rudra Realty Pvt. Ltd.,572173,Nanded Manasarovar Residential Project,1,Puyni,Nanded,30102015800,Maharashtra,"18.98725595625193,76.92436058729305"
3,20 Microns Ltd.,11,Alwar Organic Chemicals Expansion Project,11,Alwar,Alwar,10106010500,Rajasthan,"26.77342965747302,77.08440650999766"
4,20 Microns Ltd.,11,Bhuj & Vadodara China Clay & Bentonite Project,9,Bhuj,Kachchh,30101013500,Gujarat,"23.28517047735189,69.87584019153819"

In [220]:
df_loc=pd.concat([df_loc1,df_loc2],ignore_index=True)
df_loc.shape

(160308, 9)