In [6]:
import pandas as pd
import numpy as np

#Product and Capacity

In [7]:
df_prod=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Products_and_Capacity.txt',sep="|")
df_prod.head()

,Company,Company Code,Project Name,Project Number,Product,Product Code,New Capacity,Expansion From,Expansion To,Capacity Units
0,3 Com Corpn. Inc.,36,Call Centre Project,1,Call centre,80320808040000000000,NaN,NaN,NaN,NaN
1,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,"Polyethylene, Polystyrene, Polypropylene",50560800000000000000,10000.0,NaN,NaN,Tonnes
2,3m India Ltd.,36277,Bangalore R&D Centre Project,6,R&D centre,74121815000000000000,NaN,NaN,NaN,NaN
3,3m India Ltd.,36277,Industrial & Consumer Product Project,1,Consumer & office equipments,63120832990000000000,NaN,NaN,NaN,NaN
4,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,Corrosion Protection Products,50560428080000000000,NaN,NaN,NaN,NaN

Project Associate

In [8]:
df_assoc=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Associates.txt',sep="|")
df_assoc.head()

,Company,Company Code,Project Name,Project Number,Associate Type,Associate Company(AC),AC Code,AC Country,AC Address,AC Pincode,AC City,AC State,AC Tel No,AC Fax,AC Email,AC Website
0,4pel Green Solutions Pvt. Ltd.,646770,Vilayat Wind-Solar Hybrid Captive Power Project,1,Co-promoter,Grasim Industries Ltd.,85447,India,"Corporate Office:A-2, Aditya Birla Centre, S K...",400030.0,Mumbai,Maharashtra,91-22-24995000,91-22-66525114,grasim.secretarial@adityabirla.com,www.grasim.com
1,A C C Ltd.,23354,Jamul Cement Clinker & Grinding Unit Project,82,Contractor,Mcnally Bharat Engg. Co. Ltd.,142553,India,"Corporate Office:Ecospace Business Park, Campu...",700156.0,North 24 Parganas,West Bengal,91-33-30141111,91-33-44591009,mbecal@mbecal.co.in,www.mcnallybharat.com
2,A C C Ltd.,23354,Jamul Cement Clinker & Grinding Unit Project,82,Machinery supplier,Loesche Gmbh,129307,Germany,Registered Office:,NaN,NaN,NaN,NaN,NaN,NaN,www.loesche.com
3,A C C Ltd.,23354,Madhukunda Damodhar Cement Works Grinding Unit...,85,Consultant,Cholamandalam M S Risk Services Ltd.,47309,India,"Registered Office:Dare House No.2, N S C Bose ...",600001.0,Chennai,Tamil Nadu,91-44-30445620,91-44-30445550,sundarm1@cholams.murugappa.com,www.cholarisk.com
4,A C C Ltd.,23354,Sindri Cement Grinding Unit Expansion Project,79,Contractor,Mcnally Bharat Engg. Co. Ltd.,142553,India,"Corporate Office:Ecospace Business Park, Campu...",700156.0,North 24 Parganas,West Bengal,91-33-30141111,91-33-44591009,mbecal@mbecal.co.in,www.mcnallybharat.com

In [9]:
df_completion1=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Completion_Details.txt',sep="|")
df_completion1.head()

,Company,Company Code,Project Name,Project Number,Completion Date,Description
0,3m India Ltd.,36277,Bangalore R&D Centre Project,6,23 Sep 2011,Completed
1,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,29 Aug 2011,Completed
2,A A M India Mfg. Corpn. Pvt. Ltd.,424736,"Ahmednagar Drives Axles, Parts & Components Pl...",1,01 Jan 2014,Completed
3,A B B,206,R & D Centre Project,1,19 Feb 2002,Completed
4,A B B India Ltd.,21420,Bangalore Digitalised Remote Service Centre Pr...,19,04 May 2017,Completed

In [10]:
df_completion1.isnull().sum()

Company            0
Company Code       0
Project Name       0
Project Number     0
Completion Date    0
Description        0
dtype: int64

In [11]:
df_completion1['date'] = pd.to_datetime(df_completion1['Completion Date'], format='%d %b %Y')

# Extract year, month, and day
df_completion1['year'] = df_completion1['date'].dt.year
df_completion1['month'] = df_completion1['date'].dt.month
df_completion1['day'] = df_completion1['date'].dt.day

In [12]:
df_completion1['year'].min()
df_completion1['year'].max()

np.int32(2070)

In [13]:
df_completion2=pd.read_csv('All_projects_in_database_since_1995_saichittaranjank_20250219181103/Products_and_Capacity2.txt',sep="|",encoding='latin1')
df_completion2.head()

,Company,Company Code,Project Name,Project Number,Product,Product Code,New Capacity,Expansion From,Expansion To,Capacity Units
0,1000 Trees Housing Pvt. Ltd.,598295,Gurgaon Santuary 105 Residential Project,1,Residential Apartments,74120604000000000000,472.00,NaN,NaN,Flats
1,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,Hall (area),74121299000000000000,124.72,NaN,NaN,Square metres
2,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,Hall (units),74121299000000000000,1.00,NaN,NaN,Numbers
3,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,Residential Apartments (area),74120604000000000000,506.43,NaN,NaN,Square metres
4,11th Rudra Infra Nirman Pvt. Ltd.,676311,Nanded Nandi Arcade Residential Project,1,Residential Apartments (units),74120604000000000000,7.00,NaN,NaN,Numbers

Cost

In [14]:
df_cost1=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Cost.txt',sep="|")
df_cost1.head()

,Company,Company Code,Project Name,Project Number,Date of Cost of Project,Cost of Project (Rs. Million)
0,3m India Ltd.,36277,Bangalore R&D Centre Project,6,01 Apr 2011,1000.0
1,3m India Ltd.,36277,Industrial & Consumer Product Project,1,01 Dec 1996,400.0
2,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,23 Jul 2009,270.0
3,3m India Ltd.,36277,Non Woven Fibre Products Project,2,01 Dec 1996,300.3
4,3m India Ltd.,36277,Sanand Anti-Corrosion Products Project,3,30 Oct 2006,62.0

In [15]:
df_cost1['date'] = pd.to_datetime(df_cost1['Date of Cost of Project'], format='%d %b %Y')

# Extract year, month, and day
df_cost1['year'] = df_cost1['date'].dt.year
df_cost1['month'] = df_cost1['date'].dt.month
df_cost1['day'] = df_cost1['date'].dt.day

In [16]:
print(df_cost1['year'].min())
print(df_cost1['year'].max())

1992
2025

In [17]:
df_details=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Detail.txt',sep="|")
df_details.head()

,Company,Company Code,Project Name,Project Number,Company's Registered Office Address,Pincode,City,State,Tel No,Fax,...,Industry,Industry Code,Ownership,Ownership Code,Type of Unit,Cost (Rs. Million),Project Status,Contract Type,Potential Employment,Completion Date
0,3 Com Corpn. Inc.,36,Call Centre Project,1,"Third Floor Ranka Chambers 31,Cunningham Road",560052.0,Bengaluru,Karnataka,NaN,NaN,...,ITES,101040802000000,Private (Foreign),20202000000,New Unit,NaN,No Information,NaN,NaN,NaN
1,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,"809, 8th Floor, Lodha Supremus, I Think Techno...",400042.0,Mumbai,Maharashtra,NaN,NaN,...,"Plastic furniture, floorings & miscellaneous i...",101012045400000,Private (Foreign),20202000000,New Unit,NaN,No Information,NaN,NaN,NaN
2,3m India Ltd.,36277,Bangalore R&D Centre Project,6,"We Work Prestige Central, 3rd Floor, 36 Infant...",560001.0,Bengaluru,Karnataka,91-80-22231414,NaN,...,Business services & consultancy,101041510000000,Private (Foreign),20202000000,New Unit,1000.0,Completed,NaN,NaN,September 2011
3,3m India Ltd.,36277,Industrial & Consumer Product Project,1,"We Work Prestige Central, 3rd Floor, 36 Infant...",560001.0,Bengaluru,Karnataka,91-80-22231414,NaN,...,Other electronics,101014010900000,Private (Foreign),20202000000,New Unit,400.0,No Information,NaN,NaN,NaN
4,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,"We Work Prestige Central, 3rd Floor, 36 Infant...",560001.0,Bengaluru,Karnataka,91-80-22231414,NaN,...,Polymers,101012040000000,Private (Foreign),20202000000,Substantial Expansion,270.0,Completed,NaN,NaN,August 2011

In [18]:
df_events=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Events.txt',sep="|")
df_events.head()

,Company,Company Code,Project Name,Project Number,Event Date,Event,Reason for Stalling,Product,Quantity,Quantity Unit
0,3 Com Corpn. Inc.,36,Call Centre Project,1,01 Sep 2000,Date of announcement,NaN,NaN,NaN,NaN
1,3 Com Corpn. Inc.,36,Call Centre Project,1,31 Dec 2000,Implementation started,NaN,NaN,NaN,NaN
2,3 Com Corpn. Inc.,36,Call Centre Project,1,31 Mar 2001,Initial completion date,NaN,NaN,NaN,NaN
3,3 Com Corpn. Inc.,36,Call Centre Project,1,31 Dec 2004,No information as on,NaN,NaN,NaN,NaN
4,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,26 Apr 2011,Date of announcement,NaN,NaN,NaN,NaN

In [19]:
df_loc=pd.read_csv('/Users/nivinmathews/Desktop/Freelance/data science project/All_foreign_companies_projects_saichittaranjank_20250219183825 (1)/Project_Location.txt',sep="|")
df_loc.head()

,Company,Company Code,Project Name,Project Number,Location,District,District Code,State,"Longitude,Latitude"
0,3 Com Corpn. Inc.,36,Call Centre Project,1,Delhi,NCT of Delhi Districts,10107010000,NCT of Delhi,NaN
1,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,silvassa,Dadra & Nagar Haveli,30204010500,Dadra & Nagar Haveli,"20.26668864201093,73.0036917434668"
2,3m India Ltd.,36277,Bangalore R&D Centre Project,6,Bangalore,Bangalore,40102011000,Karnataka,"12.84315660499012,77.65969296522395"
3,3m India Ltd.,36277,Industrial & Consumer Product Project,1,Ranjangaon,Pune,30102017300,Maharashtra,NaN
4,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,Moraiya,Ahmadabad,30101010500,Gujarat,"22.9258842131253,72.41604090091505"

just test

In [20]:
df_loc.head(10)

,Company,Company Code,Project Name,Project Number,Location,District,District Code,State,"Longitude,Latitude"
0,3 Com Corpn. Inc.,36,Call Centre Project,1,Delhi,NCT of Delhi Districts,10107010000,NCT of Delhi,NaN
1,3d Technopack Pvt. Ltd.,269980,Silvassa Polyethylene & Polystyrene Project,1,silvassa,Dadra & Nagar Haveli,30204010500,Dadra & Nagar Haveli,"20.26668864201093,73.0036917434668"
2,3m India Ltd.,36277,Bangalore R&D Centre Project,6,Bangalore,Bangalore,40102011000,Karnataka,"12.84315660499012,77.65969296522395"
3,3m India Ltd.,36277,Industrial & Consumer Product Project,1,Ranjangaon,Pune,30102017300,Maharashtra,NaN
4,3m India Ltd.,36277,Moraiya Corrosion Protection Products Expansio...,5,Moraiya,Ahmadabad,30101010500,Gujarat,"22.9258842131253,72.41604090091505"
5,3m India Ltd.,36277,Non Woven Fibre Products Project,2,Jigani,Bangalore,40102011000,Karnataka,NaN
6,3m India Ltd.,36277,Sanand Anti-Corrosion Products Project,3,Sanand,Ahmadabad,30101010500,Gujarat,NaN
7,4pel Green Solutions Pvt. Ltd.,646770,Vilayat Wind-Solar Hybrid Captive Power Project,1,Vilayat,Bharuch,30101011400,Gujarat,"21.78174307350586,72.89387710631779"
8,A A M India Mfg. Corpn. Pvt. Ltd.,424736,"Ahmednagar Drives Axles, Parts & Components Pl...",1,Parner,Ahmadnagar,30102010300,Maharashtra,"18.96678832043993,74.52174613146454"
9,A B B,206,R & D Centre Project,1,Bangalore,Bangalore,40102011000,Karnataka,"12.99350922833714,77.70544253474469"